name: Deploy Lambda

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v3
        with: 
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Zip files
        run: zip -r deployment-package.zip ./*

      - name: Deploy to Lambda
        run: |
          aws lambda update-function-code --function-name CIS470-Activity-8 --zip-file fileb://deployment-package.zip
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: 'us-east-1'
